<div class="articles-wrapper">
  <div class="article">
    <h1 class="article-title"><%= @article.title %></h1>
    <p  class="article-body"><%= @article.body %></p>
  </div>
  <%= link_to "There's No Place Like Home", root_path, class: "button" %>
</div>
